body{
  margin-top: 60px;
  text-align:center;
}

h1 {
  padding-bottom: 0.5rem;
}

input[type=number] {
  cursor: pointer;
}

.input-celsius{
  background-color: #52DDCF !important;
  font-size: 2.5rem !important;
}

.input-fahrenheit{
  background-color: #16BAC5 !important;
  font-size: 2.5rem !important;
}

.input-kelvin{
  background-color: #42a0d9 !important;
  font-size: 2.5rem !important;
}

.form-control-lg {
  padding: 2rem 1rem !important;
}

::-webkit-input-placeholder {
  color: #FFFFFF !important;
}
::-moz-placeholder {
  color: #FFFFFF !important;
}
:-ms-input-placeholder {
  color: #FFFFFF !important;
}
:-moz-placeholder {
  color: #FFFFFF !important;
}

footer{
  padding-top: 1.5rem;
  font-size: 0.7rem;
  line-height: 0.2rem;
}

.icons{
  max-width: 25px;
  height: auto;
}
