/* *{
  border: 1px solid red;
} */

body{
  margin-top: 60px;
  text-align:center;
}

.input-celsius{
  background-color: #52DDCF !important;
  font-size: 2.5rem !important;
}

.input-fahrenheit{
  background-color: #16BAC5 !important;
  font-size: 2.5rem !important;
}

.input-kelvin{
  background-color: #42a0d9 !important;
  font-size: 2.5rem !important;
}

.form-control-lg {
  padding: 2rem 1rem !important;
}






/* input[type=number]{
  background: rgba(255, 130, 0, 0.68);
  color: white !important;

}

input[type=number]:focus{
  background: rgba(64, 255, 100, 0.48);

} */
